* {
    box-sizing: border-box;
    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

h1, #rps, #result, #record {
    margin: 0;
}

#record {
    margin: 0;
    font-size: 24px;
}
